@font-face {
  font-family: PT Sans;
  src: url(/assets/fonts/PTSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: PT Sans;
  src: url(/assets/fonts/PTSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: BebasNeue;
  src: url(/assets/fonts/BebasNeue-Regular.ttf);
  font-weight: 400;
}